/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 02 25, 24, 5:38:14 PM
    Author     : Jam
*/

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400&display=swap");

body {
    background-image: url(../assets/test.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keep the background fixed while scrolling */
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.85); /* White with 85% opacity */
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    height: 56px;
    padding: 16px;   
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Plus Jakarta Sans', cursive;
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    color: white;
    width: 85vw;
}

.left-item,.right-item {
    display: flex;
    align-items: center;
    margin: 0 18px;
    font-size: 18px;
}

.left-item img {
    width: 50px; /* Adjust the width to your preference */
    height: auto; /* Maintain the aspect ratio */
}

.logout-button {
    color: white;
    font-family: 'Plus Jakarta Sans', cursive;
    text-decoration: none; 
    transition: color 0.3s; 
}

.logout-button:hover {
    color: rgba(0, 0, 0, 0.7);
}

.header-text {
    order: 1;
    margin-left: auto;
}

body, label, input, button {
    font-size: 16px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #FFFFFF;
    font-family: 'Plus Jakarta Sans', cursive;
    font-weight: bold;
    width: 80%;
    margin: 0 auto; /* Set left and right margin to auto */
}

input {
    display: block;
    border-radius: 15px;
    font-size: 16px;
    background: white;
    width: 80%;
    border: 0;
    padding: 5px 5px;
    margin: 10px auto; /* Set left and right margin to auto */
    font-family: 'Plus Jakarta Sans', cursive;
}

.button-container {
    display: flex;
    justify-content: space-between; /* Space the buttons evenly */
    align-items: center; /* Align items vertically */
    margin-top: 35px; /* Push the container down */
    text-align: center;
}

.refresh-button,
.submit-button {
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 1);
    border: 0;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease;
    font-family: 'Plus Jakarta Sans', cursive;
    width: 25%; /* Set the width to fill the container */
    margin-left: 35px;
    margin-right: 35px;
}

.refresh-button:hover,
.submit-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
}


.login-box {
    max-width: 400px;
    height: 525px;
    margin: 10vh auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}

.login-box h2 {
    text-align: center;
    color: white;
    margin-bottom: 35px;
    font-size: 40px;
    font-family: 'Plus Jakarta Sans', cursive;
    font-weight: bold;
}

.footer {
    background-color: rgba(0, 0, 0, 0.5);
    height: 56px;
    padding: 16px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Plus Jakarta Sans', cursive;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    z-index: 1000;
}