<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>Header</param-name>
        <param-value>assets/logo.png</param-value>
    </context-param>
    <context-param>
        <param-name>Footer</param-name>
        <param-value>Juico | Tan - Machine Problem #2 (ICS2609)</param-value>
    </context-param>
    <context-param>
        <param-name>key</param-name>
        <param-value>fourfourfourfour</param-value>
    </context-param>
    <context-param>
        <param-name>cipher</param-name>
        <param-value>AES/ECB/PKCS5Padding</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>test.LoginServlet</servlet-class>
        <!-- For ServletConfig of Login -->
        <init-param>
            <param-name>driver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>user</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>pass</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:derby://localhost:1527/UserDB</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>test.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet3</servlet-name>
        <servlet-class>test.InsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet4</servlet-name>
        <servlet-class>test.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet5</servlet-name>
        <servlet-class>test.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet6</servlet-name>
        <servlet-class>test.AppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet7</servlet-name>
        <servlet-class>test.CaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet3</servlet-name>
        <url-pattern>/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet4</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet5</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet6</servlet-name>
        <url-pattern>/app</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet7</servlet-name>
        <url-pattern>/CaptchaServlet</url-pattern>
    </servlet-mapping>
    
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/error_nologin.jsp</location>
    </error-page>
    <error-page>
        <exception-type>exceptions.WrongUserNullPassException</exception-type>
        <location>/error_1.jsp</location>
    </error-page>
    <error-page>
        <exception-type>exceptions.AuthenticationType1Exception</exception-type>
        <location>/error_2.jsp</location>
    </error-page>
    <error-page>
        <exception-type>exceptions.AuthenticationType2Exception</exception-type>
        <location>/error_3.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error_4.jsp</location>
    </error-page>
    <error-page>
        <exception-type>exceptions.InvalidSessionException</exception-type>
        <location>/error_session.jsp</location>
    </error-page>
    <error-page>
        <exception-type>exceptions.WrongCaptchaException</exception-type>
        <location>/captcha_error.jsp</location>
    </error-page>      
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
    <!-- ADVANCED -->
    <context-param>
        <param-name>driver</param-name>
        <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>app</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:derby://localhost:1527/UserDB</param-value>
    </context-param>
</web-app>
